# Copyright (C) Kevin R. Coombes, 2025.

###
### NAMESPACE
###

import(methods)
import(Modeler)
importFrom("stats", "model.matrix")
importFrom("logicFS", "logic.bagging")
importFrom("LogicReg", "logreg.anneal.control")
importFrom("BimodalIndex", "bimodalIndex")
importFrom("cluster", "silhouette")
importFrom("ClassDiscovery", "distanceMatrix")
importFrom("Mercator", "binaryDistance")
importFrom("apcluster", "apclusterK")
importMethodsFrom("apcluster", "as.hclust")

export(learnConstant, predictConstant, makeLeaf)
export(learnLogic, predictLogic, logicModeler)
export(findSplit, evalSplit, registerSplitter, availableSplitters)
export(createTree, registerPredictor, availablePredictors)
