# Copyright (C) Kevin R. Coombes, 2025.

###
### NAMESPACE
###

import(methods)
import(Modeler)
importFrom("stats", "model.matrix")
importFrom("cluster", "silhouette")
importFrom("logicFS", "logic.bagging")
importFrom("LogicReg", "logreg.anneal.control")
importFrom("ClassDiscovery", "distanceMatrix")
importFrom("apcluster", "apcluster")
importFrom("BimodalIndex", "bimodalIndex")

export(learnConstant, predictConstant, makeLeaf)
export(learnLogic, predictLogic, logicModeler)
export(findSplit, evalSplit)
